/********************* IMPORTS ***************************/
@import url(https://fonts.googleapis.com/css?family=Playball);

@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

h1, h2, h3, h4 , h5, h6, p, a, div, span, ul, ol, li {
	/* font style for all major elements */
	font-family: 'Noto Serif', serif;
	/* end font style for all major elements */

	color: #fff;
}

/*********************************************************/

/********************* GOOGLE MAPS ***************************/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 50%;
	width: 50%;
	left: 19%;
}


/*************************************************************/

/********************* LOGO ***************************/

.logo {
	position: absolute;
	left: 28%;

}


/******************************************************/

/*********************** BODY *******************************/

body {
	background-image: url('../img/body.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 0.9;
	background-size: cover;

}

#main-body {
	background-image: url('../img/body.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.panel {
	background: transparent;
}


/************************************************************/

/*********************** BUTTONS *******************************/

#menu-toggle {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	margin-top: -2px;
	margin-left: -16px;
	border-bottom: 1px solid #000;
	border-left: 1px solid #888;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;

	border: none;
	background: transparent;
}

/***************************************************************/

/********************** CLASSES **********************************/
.jumbotron {
	background-image: url('../img/body.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	
}

.jumbotron-span {
	font-family: 'Playball', cursive;
	text-align: center;
	color: #fff;
}

.jumbotron-txt {
	text-align: center;
}

.jumbotron-links {
	font-family: 'Playball', cursive;
}


/*****************************************************************/

/************************* HOVERS ****************************************/

a {
	color: blue;
	text-decoration: none;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: none;
}

a:active {
	color: red;
	text-decoration: none;
}

/************************************************************************/

/**************************** CAROUSEL ************************************/

.carousel-main {
	margin-top: 8%;

}

.carousel-caption {
	text-align: left;
}

.carousel-indicators {
	/* background-color: #000; */
}

.item {
	background: transparent;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 1;
	border: 1px solid #000;
	border-left: none;
	border-right: none;
}

/**************************************************************************/

/**************************** NAVBAR **************************************/
.navbar {
	border: none;
	background: transparent;
}

.dropdown {
	margin-top: -0%;

}

/* horizontal navbar */

.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}

#menu-toggle {
	/* insert the style for the menu toggle */
}

.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #DF4B05;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}

/* end horizontal navbar */

/**************************************************************************/

/**************************** CONTAINER **********************************/

#container-one {
	
}

/*************************************************************************/

/**************************** HOVER MASTER *******************************/

.hvr-bounce-to-bottom {
	background: #DF4B05;
	color: #000;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0px 0px 6px #222;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

/*************************************************************************/


.feature {
    display: block;
    width: 100%;
    margin: 0;
}

.author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}

.blog-stripe .block-title {
    background: black;
    width: 100%;
    color: white;
    height: 100px;
    padding-top: 20px;
}

.all-blogs .media {
    margin-left: -40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    background: #fff;
}
